*{
    margin: auto;
}

.banner img{
    width: 100%;
}

.conteudo{
    text-align: justify;
    width: 50%;
    float: left;
    margin: 55px;
}

.imagem img{
    position: relative;
    margin-top: -5%; 
} 

iframe{
    width: 1000px;
    height: 565px;
    margin: auto;
    display: flex;
}

@media screen and (max-width:500px){
    .conteudo{
        width: 100%;
        margin: 0;
    }

    .imagem{
        margin: 0;
    }

    .imagem img{
        width: 100%;
        margin: 0px;
        top: 0px;
    }
}
