.banner img{
    width: 100%;
}

.inicio{
    display: flex;
    flex-direction: row;
}

.conteudo{
    text-align: justify;
    margin: 5% 0;
    width: 50%;
}

iframe{
    width: 1200px;
    height: 678px;
    margin: auto;
    margin-top: 5%;
}

@media screen and (max-width:1000px){
    iframe{
        width: 800px;
        height: 470px;
    }
}

@media screen and (max-width:600px){


    .imagem {
        display: none;
    }

    iframe{
        width: 300px;
        height: 170px;
    }
}
