nav#menuPrincipal ul{
    background-color: rgb(207, 160, 93);
}

nav#menuPrincipal ul li{
    display: inline-block;
    margin: 8px 4px;
    padding: 10px;
    height: 30px;
    line-height: 30px;
}

div#titulo{
    /* border: 1px solid brown; */
    position: absolute;
    margin-left: 5%;
    margin-right: 58%;
}

h1{
    font-size: 30pt;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

img{
    width: 100%;
    height: auto;
}

div#texto{
    /* border: 1px solid yellowgreen; */
    position: relative;
    margin-left: 38%;
    margin-right: 3%;
    padding-top: 120px;
    display: inline-block;
}

p{
    font-size: 14pt;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 15px;
}

div#video{
    /*border: 1px solid green;*/
    position: absolute;
    display: block;
    margin-top: 10%;
    margin-left: 8%;
    text-align: left;
}

h2{
    font-size: 26pt;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    background-color: rgb(207, 146, 60);
    border: 0.5px solid lightsalmon;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18pt;
    padding: 14px 40px;
    border-radius: 12px;
    box-shadow: 0 5px rgb(153, 153, 153);
}

input:active {
  background-color: rgb(211, 129, 15);
  box-shadow: 0 0.5px rgb(153, 153, 153);
  transform: translateY(4px);
}

footer{
    /*border: 1px solid green;*/
    margin-top: 70%;
    padding-bottom: 3%;
    position:absolute;
    display: block;
    float: left;
}

h3{
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}