.conjunto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    margin: 2%;
    height: 250px;
    width: 40%;/* tirar margins, paddins e borders, como são duas a duas 50%-margins */
    background-color: orange;
    box-shadow: 5px 7px 9px #00000047;
}

@media screen and (max-width:600px) {
    .conjunto{
        flex-direction: column;
    }

    article{
        width: 96%;
    }
}