@font-face {
    font-family:quantium;
    src: url("../fontes/Quantum.otf");
}
div#Main h1{
font-family: quantium, sans-serif;
margin-left: auto;
margin-right: auto;
font-size: 60px;
text-align: center;
} 
div#Main img{
margin-left: 42%;
margin-right: auto;
width: 15%;
}  
div#Main h2{
margin-left: 35%;
margin-right: auto;
width: 50%;
} 

div#Main p{
font-family: roboto, sans-serif;
margin-left: auto;
margin-right: auto;
width: 35%;
} 
section#main{
background-color: rgb(170, 145, 100);
}

section.jogo{
font-family: roboto, sans-serif;
height: 380px;
width: 47%;
float: left;
background-color: #cccccc;
margin: 20px;
}

section.jogo1{
font-family: roboto, sans-serif;
height: 380px;
width: 47%;
float: left;
background-color: #cccccc;
margin: 20px;
}

section.jogo h1{
font-family: quantium, sans-serif;
font-size: 45px;
margin-left: 15%;
width: 70%;
}

section.jogo1 h1{
font-family: quantium, sans-serif;
font-size: 45px;
margin-left: 25%;
width: 70%;
}

section.jogo img{
margin-left:30%;
width:35%;
}
section.jogo1 img{
margin-left:35%;
width:35%;
}

section#desafios h2{
font-family: quantium, sans-serif;
font-size: 30px;
}

section#desafios h1{
font-family: quantium, sans-serif;
font-size: 45px;
}
section#desafios p{
font-family: roboto, sans-serif;
}

section#desafios{
margin-left: auto;
margin-right: auto;
text-align: center;
}