@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --titulosSobre: quantium, sans-serif;
    --textoSobre: 'Rambla', sans-serif;
    --fundoSobre: #E5E5E5;
    --fundoImagSobre: rgba(222, 173, 99, 0.66);
    --fundoNomeTabelaSobre: rgba(204, 152, 78, 1);
    --linksite: rgb(134, 10, 128);
    --linksitehover: rgb(88, 7, 84);
}

@font-face {
    font-family: quantium;
    src: url(../fontes/Quantum.otf);
}

h3{
    font-family: var(--titulosSobre);
}

body{
    background-color: #d4d4d4;
}


head{
    width: 100%;
    display: block;
}

.border{
    border: 1px solid red;
}

h1{
    font-size: 60px;
    color: #F7941D;
    text-align: left;
}

h2{
    font-size: 50px;
    text-align: left;
}

h3{
    font-family: var(--titulosSobre);
    font-size: 40px;
    color: #a14c13;
    text-align: center;
}
/* ****************************************************************************
    nav bar
*****************************************************************************/
nav{
    margin-top: 15px;
    height: 80px;
    background-color: #110802;
}

img.logo{
    cursor: pointer;
    display: flex;
    position: absolute;
    float: left;
    height: 80px;
    width: 140px;
    left: 5%;
    margin: 0;
}

/* .logo{
    width: 50px;
    margin-left: 10%;
} */

nav ul{
    width: 80%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    list-style: none;
    margin: auto;
}

nav ul li{
    display: inline;
    padding: 0px 2%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: black;
}

nav div#menu img{
    display: none;
}

/* main */
main{
    max-width: 1100px;
    /* display: contents; */
    align-content: center;
    margin: 0% auto;
}

/* aside */


/* footer */
footer{
    position: absolute;
    height:140px;
    width: 100%;
    background-color: #241205;
    color: whitesmoke; 
    /* bottom: 0px; */
    /* margin-bottom: 20px;  */
    /* margin-top: 10px; */
}

footer address{
    text-align: justify;
    width: 30%;
    font-size: 14vw;
    margin-left: 5%;
}

footer address h4{
    font-size: 14pt;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 15px;
}

footer address ul{
    font-size: 12pt;
    list-style: none;
}

/* div#voltar{
    float: right;
    margin-right: 20px;
} */

div#voltar a{
    text-decoration: none;
    color: #FF9933;
}



/* ****************************************************************************
    media
*****************************************************************************/

@media screen and (max-width:1000px){   /* 500px */
    /* menu??? */

    nav ul{
        display: block;
    }

    nav ul li{
        display: inline;
        padding: 0px 10px;
    }

    nav div#menu img{
        display: block;
        position: absolute;
        width: 40px;
        float: right;
        cursor: pointer;
        right: 5%;
    }
    
    h1{
        text-align: center;
    }

    footer{
        height: 100px;
    }

    footer address{
        font-size: 10pt;
    }
    
    footer address h4{
        font-size: 1em;
    }
    
    footer address ul{
        font-size: 8pt;
        list-style: none;
    }
}


@media screen and (max-width:500px){   /* 500px */
    /* menu??? */
    main{
        margin: 0 20px;
    }

    html{
        overflow-x: hidden; 
        overflow-y: scroll;
    }

    .logo{
        width: 20%;
        margin-left: 10%;
        float: left;
    }

    nav ul{
        display: none;
    }

    /* nav ul li{
        display: inline;
        padding: 0px 10px;
        font-size: 10pt;
    } 

    nav ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: black;
    }
    nav div#menu img{
        display: block;
        width: 40px;
        float: right;
        cursor: pointer;
        margin-top: 7px;
        margin-right: 5%; 
    }*/

    /* sobre mim*/
    h1{
        text-align: center;
    }

    div.equipa{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    div#caixaSobre{
        border-radius: 30px 0px;
        width: 40%;
        height: 30%;
    }

    footer{
        position: relative;
        height: 100px;
        margin-top: 16px; 
    }
    

    /* sobre jéssica */

}

/* *****************************************************************************
    duvidas
*****************************************************************************

/* 
    resolver img das redes em baixo (l.91 - 100)
    resolver menu para tlm (l.263)
    resolver nome do cv
    resolver img da lista(dps de download cv) 
    resolver espaçamento entre a img e o footer
*/

/* 
    página sobre  
    h1 (tlm)
    imagem 
*/