@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'quantium';
    src: url(../fontes/Quantum.otf);
}

/* .border{
    border: 1px solid red;
} */

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1{
    font-size: 4vh;
}

button{
    cursor: pointer;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 25%);
}

p{
    margin: 0 20px;
}

.conteudo-secundario-escrito, .conteudo-quartenario-escrito{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-secundario-escrito-subtitulo, .conteudo-quartenario-escrito-subtitulo{
    font-weight: 600;
    font-size: 3vh;
    color: black;
}

.conteudo-secundario-escrito-btn, .conteudo-terceario-btn, .conteudo-quartenario-btn{
    font-family: Roboto, sans-serif;
    background-color: #eb9650;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-weight: 600;
    margin: 0 20px;
}

.conteudo {
    max-width: 1350px;
    margin: auto;
    /* margin-top: 20px; */
    /* border-top: 0.4px solid #fff2e747; */
}

.conteudo-principal{
    background-image: linear-gradient(#9b9677c7,rgb(0 0 0 / 61%)), url(../img/index/image20.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    background-attachment: fixed;
}

.conteudo-principal-titulo{
    font-family: 'quantium', sans-serif;
    font-size: 40px;
    display: flex;
    margin-top: 3.5vh;
    height: 40px;
    line-height: 40px;
    color: white;
}

.conteudo-principal-subtitulo{
    font-size: 25px;
    color: #ffffff;
}

.conteudo-principal-btn{
    cursor: pointer;
    background-color: #ECD6C4;
    color: #2F2325;
    width: 33hw;
    height: 6vh;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 2vw;
}

.conteudo-secundario{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-secundario-escrito-subtitulo{
    color: #000000;
}

.conteudo-secundario-escrito-texto{
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.conteudo-secundario-img{
    height: 50vh;
}

.conteudo-quartenario{
    background-image: url(../img/index/4.svg);
    display: flex;
    background-position: center center;
    height: 50vh;
}

.conteudo-quartenario-escrito{
    justify-content: center;
    gap: 5em;
    width: 500px;
    height: 100%;
}

.conteudo-quartenario-escrito-subtitulo{
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.534);
}

.conteudo-quartenario-escrito-texto{
    color: white;
}

footer{
    background-color: rgb(194, 126, 1);
    height: 20px;
}

@media screen and (max-width:600px) {
    .conteudo-principal, .conteudo-secundario, .conteudo-quartenario{
        text-align: center;
        height: 45vh;
    }

    .conteudo-principal-subtitulo{
        margin: 0 50px;
        font-size: 20px;
    }

    .conteudo-principal-btn{
        height: 5vh;
        font-size: 18px;
    }

    .conteudo-secundario{
        background-image: linear-gradient(#5a564970,rgb(0 0 0 / 20%)),url("../img/index/2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center ;
        margin: 0;
        text-align: center;
        background-color: white;
    }

    .conteudo-secundario-escrito-texto, .conteudo-quartenario-escrito-texto{
        background-color: #ffffff9b;
        text-align: start;
        padding: 20px 10px;
        font-size: 16px;
        color: black;
    }

    .conteudo-secundario-img{
        display: none;
    }

    .conteudo-quartenario-escrito{
        width: 100%;
    }

    .conteudo-quartenario-escrito-subtitulo{
        background-color: transparent;
    }
}