/************* todos HTML *************/

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    :root{
        --titulosSobre: quantium, sans-serif;
        --textoSobre: 'Rambla', sans-serif;
        --fundoSobre: #E5E5E5;
        --fundoImagSobre: rgba(222, 173, 99, 0.66);
        --fundoNomeTabelaSobre: rgba(204, 152, 78, 1);
        --linksite: rgb(134, 10, 128);
        --linksitehover: rgb(88, 7, 84);
    }

    @font-face {
        font-family: quantium;
        src: url(../fontes/Quantum.otf);
    }


    body{
        background-color: #d4d4d4;
        /* max-width: 1100px; */
    }


    head{
        width: 100%;
        display: block;
    }

    .border{
        border: 1px solid red;
    }

    h1{
        font-size: 60px;
        color: #F7941D;
        text-align: center;
    }

    h2{
        font-size: 50px;
        text-align: left;
    }

    h3{
        font-family: var(--titulosSobre);
        font-size: 40px;
        color: #a14c13;
        text-align: center;
    }

/************* NAV BAR *************/
    nav{
        margin-top: 15px;
        height: 80px;
        background-color: #110802;
    }

    img.logo{
        display: flex;
        position: absolute;
        float: left;
        height: 80px;
        width: 140px;
        left: 5%;
        margin: 0;
    }

    nav ul{
        width: 80%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        list-style: none;
        margin: auto;
    }

    nav ul li{
        display: inline;
        padding: 0px 2%;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: black;
    }

    nav div#menu img{
        display: none;
    }

/************* MAIN *************/
    main{
        max-width: 1100px;
        align-content: center;
        margin: 0% auto;
    }

/************* ASIDE *************/


/************* FOOTER *************/
    footer{
        position: absolute;
        height:140px;
        width: 100%;
        background-color: #241205;
        color: whitesmoke; 
    }

    footer address{
        text-align: justify;
        width: 30%;
        font-size: 14vw;
        margin-left: 5%;
    }

    footer address h4{
        font-size: 14pt;
        font-weight: 400;
        margin-left: 5%;
        margin-top: 0;
        margin-bottom: 15px;
    }

    footer address ul{
        font-size: 12pt;
        list-style: none;
    }



/************* ARCADE *************/
    .banner img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        display: flex;
    }

    .conteudo{
        text-align: justify;
        width: 50%;
        float: left;
        margin: 55px;
    }

    .imagem{
        margin-bottom: -81px;
    }

    .imagem img{
        position: relative;
        top: -100px; 
    }

    #rodapeArcade{
        position: relative;
        height: 140px;
        width: 100%;
        background-color: #241205;
        color: whitesmoke;
        margin-bottom: 20px;
        display: flex;
    }



/************* SOBRE *************/
   /*  div.descEquipa{
        width: 800px;
        height: 440px;
        margin-bottom: 20px;
        float: left;
    }

    div.inicio{
        margin-top: 20px;
    }

    div.descEquipa div{
        text-align: justify;
        font-size: 16pt;
        padding:  12%;
    }

    div.inicioSobre{
        height: 440px;
        margin-bottom: 20px;
    }
    div.inicioSobre img{
        width: 40%;
        float: right;
        padding-right: 5%;
    }

    .tudo{
        width: 300px;
        height: 100%;
        margin: 2% 2%;
    }

    div.tudo a{
        border-radius: 15px 0px;
        width: 100%;
        height: 25%;
    
        text-decoration: none;
        color: white;
    } 

    div.equipa{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .equipaImg img{
        width: 100%;
        border-radius: 30px 0px 0px 0px;
        box-shadow: 4px 8px 16px 0px rgb(0 0 0 / 61%);
    }

    .descricaoElemt{
        border-radius: 0px 0px 30px;
        box-shadow: 4px 8px 16px 0px rgb(0 0 0 / 61%);
        position: relative;
        text-align: justify;
        margin-top: 5%;
        padding: 10px;
        display: block;
        background-color: #DC7E26;
        color: white;
    }

    .descricaoElemt p{
        font-size: 16pt;
        line-height: 0.1;
    } */


/************* CVJESSICA *************/
    aside{
        height: 680px;
        margin-right: 5%;
        width: 25%;
        float: left;
        position:relative;
    }

    aside h1{
        font-family: var(--titulosSobre);
        font-size: 1vw;
        text-align: center;
        color: white;
    }

    #imgPessoal img{
        width: 100%;
        height: auto;
        background-size: cover;
    }

    /* div#redes */
    div#redes{
        position:absolute;
        display: flex;
        justify-content: end;
        margin: 20px 30%;
        bottom: 10px;
    }

    div#redes a{
        text-decoration: none;
        margin: auto;
        padding: 0px 10px;
    }

    div#redes a img{
        margin: auto;
        width: 20px;
    }

    /*article*/
    article{
        display: block;
    }

    article h1{
        font-size: 1vw;
        padding-top: 5%;
        font-size: 2em;
        font-family: var(--titulosSobre);
    }

    article h2{
        font-family: var(--titulosSobre);
        font-size: 16pt;
        letter-spacing: 0.23em;
        height: 30px;
        line-height: 30px;
    }

    article p{
        text-align: justify;
        font-size: 1em;
        font-family: var(--textoSobre);
    }

    table{
        width: 50%;
    }

    #btn {
        width: 100%;
    }

    article table tr td button{
        position: relative;
        margin-left: 100%;
        width: 50%;
        height: 40px;
        line-height: 40px;
        border-radius: 13px;
        background: linear-gradient(139deg, rgba(255,145,0,0.4374124649859944) 45%, rgba(75,9,121,0.4206057422969187) 100%);
        border: none;
        box-shadow: 2px 2px 6px 0px grey;
    }

    article table tr td button a{
        text-decoration: none;
        color: black;
    }

    article table tr td button:hover{
        height: 40px;
    }

    #extra{
        max-width: 1100px;
        display: contents;
    }

    #extra tr td{
        padding-top: 5%;
    }

    article table#extra tr td img{
        width: 50px;
        padding: 13px;
        float: left;
    }

    article table#extra tr td p{
        text-align: inherit;
    }

    article table#extra tr td p a{
        color: var(--linksite);
        text-decoration: none;
    }

    article table#extra tr td p a:hover{
        color: var(--linksitehover);
        text-decoration: underline;
    }

    #imgPessoal2{
        display: none;
    }
    .rodapeSobreMim{
        position: absolute;
        height:140px;
        width: 100%;
        background-color: #241205;
        color: whitesmoke; 
        bottom: 0px;
        margin-bottom: 20px; 
        /* margin-top: 10px; */
    }



/************* Media *************/

@media screen and (max-width:500px){
    /**** todos HTML ****/
    main{
        margin: 0 20px;
    }

    html{
        overflow-x: hidden; 
        overflow-y: scroll;
    }

    .logo{
        width: 20%;
        margin-left: 10%;
        float: left;
    }

    nav ul{
        display: none;
    }

    h1{
        font-size: 1.1em;
        text-align: center;
    }

    div.equipa{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    div#caixaSobre{
        border-radius: 30px 0px;
        width: 40%;
        height: 30%;
    }

    footer, #rodapeArcade{
        position: relative;
        height: 100px;
        margin-top: 16px; 
    }



    /**** ARCADE ****/
    .conteudo{
        width: 100%;
        margin: 0;
    }

    .imagem{
        margin: 0;
    }

    .imagem img{
        width: 100%;
        margin: 0px;
        top: 0px;
    }
    
    /* #rodapeArcade{
        display: flex; 
        height: 100px;
        margin: 0px;
    } */



    /**** SOBRE ****/
    div.descEquipa div{
        font-size: 14pt;
        padding: 8% 10% 3% 10%;
    }

    div.descEquipa{
        height: 15%;
        width: 100%;
        float: none;
        margin: 0%;
    }
    
    .descricaoElemt p,  .descricaoElemt h2{
        font-size: 12pt;
    }

    div.descEquipa div h1{
        margin: 0%;
    }

    div.inicio{
        margin-top: 0px;
    }
    
    div.inicioSobre{
        display: none;
    }

    .equipaImg{
        width: 385px;
        margin-top: 2%;
    }

    .equipaImg img{
        width: 77%;
    }

    div.tudo{
        margin: 2% 2%;
    }


    /**** CVJESSICA ****/
    aside{
        width: 100%;
        height: 250px;
        position: absolute;
        display: contents;
    }

    .sobre_mim{
        margin: 0 0 20px 0px;
        width: 100%;
        height: 180px;
        background-color: grey;
    }

    #imgPessoal{
        margin: 20px;
        position: absolute;
    }

    #imgPessoal img{
        display: flex;
        width: 400px;
        height: 200px;
        object-fit: cover;
        object-position: 0px -113px;
    }

    /*article*/
    article{
        margin: 0 45px;
        display: inline-block;
    }

    article h1{
        margin-top: -23px;
        font-size: 12pt;
    }
    
    article h2{
        font-size: 10pt;
    }
    
    article p, table{
        font-size: 10pt;
    }
    
    table{
        width: 100%;
    }

    td#btn{
        display: none;
    }
    
    div#redes{
        position: relative;
        display: flex;
        justify-content: end;
        margin: 10px;
    }
    
    div#redes a img{
        width: 20px;
    }

    #extra tr td {
        padding-top: 0;
        display: flex;
        margin-bottom: 5px;
    }

    article table#extra tr td img{
        width: 40px;
        display: block;
        margin: 0%;
        height: fit-content;
    }
    
    .rodapeSobreMim{
        position: relative;
        height: 100px;
        margin-top: 16px;
    }
}