/* *****************************************************************************************************
                                        Propriedades gerais 
*********************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans Regular', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 50px;
}

.textbig2{
    font-size: 20px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* *********************************************************************************************
                             Mobile, tablet, ambos e portatil pequeno  
************************************************************************************************* */


@media screen and  (max-width:40em) { 
    .xs-hide {
        display: none !important;
    }

    .xs-flex-column{
        flex-direction: column;
    } 

    body .xs-width-100 {
        width: 100%;
    }

    body #menu2{
        display: block;
        font-size: 25px;
    }

    body .logofooter{
        margin-top: 10px;
        width: 200px;
    }

    .contactosfooter{
        margin-top: 20px;
    }
}

@media (max-width: 64em) { 
    .container{
        padding: 10px;
    }

}

/* *********************************************************************************************
                                         Icons  
************************************************************************************************* */

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?l6ryzu');
    src:  url('fonts/icomoon.eot?l6ryzu#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?l6ryzu') format('truetype'),
      url('fonts/icomoon.woff?l6ryzu') format('woff'),
      url('fonts/icomoon.svg?l6ryzu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-email:before {
    content: "\e900";
  }
  .icon-facebook:before {
    content: "\e901";
  }
  .icon-phone:before {
    content: "\e902";
  }
  .icon-instagram:before {
    content: "\e903";
  }
  .icon-local:before {
    content: "\e904";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-close:before {
    content: "\ea0f";
  }
  

/* *********************************************************************************************
                                         HEADER  
**************************************************************************************************/

#upper_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin: auto;
    font-weight: 600;
    
}

#logo{
    width: 169px;
}


#menu{
    flex-grow: 4;
    
}

#submenu-tratamentos{

    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#submenu-tratamentos li{
    display: inline-block;
    height: 100%;
}

#submenu-tratamentos li a{
    padding: 7px 25px;
    display: block;
    text-decoration: none;
    color: #e5d87c;
    font-weight: 600;
}

#submenu-tratamentos li a:hover{
    color: white;

}

.menu-link{
    text-decoration: none;
    color: black;
    padding: 0 25px;
}

.menu-link:hover {
    font-weight: bold;
}

#menu2{
    display: none;
}

/******* menu mobile **********/

#menu-mobile{
   background-color: black;
   display: flex;
   justify-content: flex-end;
   height: calc(100vh - 75px);
}

#menu-mobile ul{
   list-style-type: none;

}

#menu-mobile li a{
   padding: 25px 15px;
   display: block;
   text-decoration: none;
   color: #e5d87c;
   font-weight: 600;
}

#menu-mobile li a:hover{
   color: white;

}
/* *****************************************************************************************************
                                        FOOTER  
*********************************************************************************************************/
#footer{
    background-color: black;
}

.footer{
    display: flex;
    justify-content:initial;
    align-items:initial;
    color: white;
}

.footer h5{
    font-size: 16px;
}

.footer i{
    padding-right: 3px;
}

.logofooter{
    display: flex;
    width: 25%;
}

.contactosfooter{
    width: 25%;
}

.horariofooter{
    width: 25%;
}

.siga-nos{
    width: 25%;
}

.contactosfooter ul{
    list-style-type: none;
    padding-left: 0;
}

.mt-1{
    margin-top: 16px;
}
