.banner img{
    width: 100%;
}

.informacao{
    display: flex;
    flex-direction: row;
}

.topicos, .conteudo{
    text-align: left;
    margin: 5%;
    width: 50%;
}

/* .conteudo p{
    display: flex;
    align-items: center;
    height: 100%;
} */

.destaque{
    background-color: orange;
    font-weight: bold;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    line-height: 25px;
}

iframe{
    width: 1200px;
    height: 678px;
    margin: auto;
    margin-top: 5%;
}

@media screen and (max-width:1000px){
    iframe{
        width: 800px;
        height: 470px;
    }
}

@media screen and (max-width:600px){


    .imagem {
        display: none;
    }

    iframe{
        width: 300px;
        height: 170px;
    }
}
