.banner img{
    width: 100%;    
    margin: 0!important;
}

p{
    margin: 2%;
}

.divisao{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.linha img{
    width: 45%;
}

.linha img:hover{
    transform: scale(1.05);
}

.saber_mais{
    text-align: center;
    font-size: 12px;
    margin: 25px 0;
}

.saber_mais span{
    font-weight: bold;
}

.saber_mais a{
    border: none;
}

.saber_mais a::after{
    content: none;
}

.destaque{
    background-color: orange;
    font-weight: bold;
    height: 5vh;
    line-height: 5vh!important;
    text-align: center;
    line-height: 25px;
} 


@media screen and (max-width:600px){
    p{
        line-height: 25px;
    }

    .divisao{
        margin-top: 30px;
    }

    .linha{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .linha img{
        width: 100%;
        margin-bottom: 5%;
    }

    .saber_mais{
        margin-bottom: 10%;
    }
    
}
