header .menu{
    position: relative !important;
}

footer{
    position: absolute;
}

a{
    border-bottom: 1px solid orange;
}

aside{
    height: 680px;
    margin-right: 5%;
    width: 25%;
    float: left;
    position:relative;
}

#imgPessoal img{
    width: 17%;
    height: auto;
    background-size: cover;
    position: fixed;
}

/* div#redes */
div#redes{
    position:relative;
    display: flex;
    justify-content: end;
    margin-top: 130%;
}

div#redes a{
    border: none;
    text-decoration: none;
    margin: auto;
    padding: 0px 10px;
}

div#redes a img{
    margin: auto;
    width: 20px;
}

div#redes a img:hover{
    transform: scale(1.2);
}

article{
    display: block;
}


article p{
    text-align: justify;
}

table{
    width: 50%;
}

#btn {
    width: 100%;
}

button{
    position: relative;
    margin-left: 100%;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-radius: 13px;
    background: linear-gradient(139deg, rgba(255,145,0,0.4374124649859944) 45%, rgba(75,9,121,0.4206057422969187) 100%);
    border: none;
    box-shadow: 2px 2px 6px 0px grey;
}

button a{
    text-decoration: none;
    border: none;
    color: black;
}

div#redes a::after, button a::after{
    content: none;  
}

button:hover{
    transform: scale(1.2);
}

button a:hover{
    color: black;
}

#extra{
    max-width: 1100px;
    display: contents;
}

#extra tr td{
    padding-top: 5%;
}

article table#extra tr td img{
    width: 50px;
    padding: 13px;
    float: left;
}

article table#extra tr td p{
    text-align: inherit;
}

article table#extra tr td p a{
    text-decoration: none;
}

#imgPessoal2{
    display: none;
}
.rodapeSobreMim{
    position: absolute;
    height:140px;
    width: 100%;
    background-color: #241205;
    color: whitesmoke; 
    bottom: 0px;
    margin-bottom: 20px; 
    /* margin-top: 10px; */
}

@media screen and (max-width:1000px){
    
    aside{
        width: 100%;
        height: 250px;
        position: absolute;
        display: contents;
    }

    .sobre_mim{
        width: 100%;
        height: 180px;
        background-color: grey;
    }

    #imgPessoal{
        position: relative;
    }

    #imgPessoal img{
        position: absolute;
        display: flex;
        width: 90%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -150px;
        margin: 0 5%;
    }

    article{
        margin: 0 45px;
        display: inline-block;
    }
    
    article p, article table{
        font-size: 10pt;
    }
    
    article table{
        width: 100%;
    }

    td#btn{
        display: none;
    }
    
    div#redes{
        position: relative;
        display: flex;
        justify-content: end;
        margin: 10px;
    }
    
    div#redes a img{
        width: 20px;
    }

    #extra tr td {
        padding-top: 0;
        display: flex;
        margin-bottom: 5px;
    }

    article table#extra tr td img{
        width: 40px;
        display: block;
        margin: 0%;
        height: fit-content;
    }
    
    .rodapeSobreMim{
        position: relative;
        height: 100px;
        margin-top: 16px;
    }
}

@media (max-width:600px){
    #imgPessoal img{
        display: flex;
        width: 85%;
        height: 200px;
        object-fit: cover;
        object-position: 0px -100px;
        margin: 4%;
    }
}


/* @media (max-width:500px){
    

    #imgPessoal img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 0px -100px;
        margin: 0;
    }
} */