button{
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 4px 5px 4px rgb(0 0 0 / 25%);
}

main section a::after{
    content: none;
}

.conteudo-secundario-escrito, .conteudo-terceiro-escrito{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 20px;
}

.conteudo-secundario-escrito-subtitulo, .conteudo-terceiro-escrito-subtitulo{
    font-weight: 600;
    font-size: 3vh;
    color: black;
    margin: 5px;
}

.conteudo-secundario-escrito-btn, .conteudo-terceiro-btn{
    font-family: Roboto, sans-serif;
    background-color: #eb9650;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-weight: 600;
    margin: 0 20px;
}

.conteudo-secundario, .conteudo-terceiro{
    height: 75vh;
}

.conteudo {
    max-width: 1350px;
    margin: auto;
}

.conteudo-principal{
    height: 60vh;
    background-image: linear-gradient(#9b9677c7,rgb(0 0 0 / 61%)), url("../img/index/image20.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}

.conteudo-principal-titulo{
    font-family: 'quantium', sans-serif;
    font-size: 40px;
    display: flex;
    margin-top: 3.5vh;
    height: 40px;
    line-height: 40px;
    color: white;
}

.conteudo-principal-subtitulo{
    text-align: center;
    width: 50%;
    font-size: 25px;
    color: #ffffff;
}

.conteudo-principal-btn{
    cursor: pointer;
    background-color: #ECD6C4;
    color: black;
    width: 33hw;
    height: 6vh;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 2vw;
}

.conteudo-principal-btn:hover{
    color: #fff;
    background: linear-gradient(-45deg, #ff820e, #b35701);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.conteudo-secundario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-secundario-escrito-subtitulo{
    color: #000000;
}

.conteudo-secundario-escrito-texto{
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.conteudo-secundario-img{
    position: revert;
    object-fit: cover;
    width: 65%;
    height: 100%;
}

.conteudo-terceiro{
    background-image: url("../img/index/4.svg");
    display: flex;
    background-position: center center;
    margin: 0;
}

.conteudo-terceiro-escrito{
    justify-content: center;
    gap: 5em;
    width: 500px;
    height: 100%;
}

.conteudo-terceiro-escrito-subtitulo{
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.534);
}

.conteudo-terceiro-escrito-texto{
    color: white;
}

section.form{
    width: 100%;
    height: 60vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.part-formulario{
    display: flex;
    flex-direction: row;
}

.part-formulario .img{
    width: 50%;
    background: url("https://bnetcmsus-a.akamaihd.net/cms/blog_header/zk/ZKW68AZHMHFB1583430426829.png");
    background-size: 250%;
    background-position: center;
}

.formulario{ 
    color: #e69a0c;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formulario form{
    margin: auto;
}

.formulario textarea{
    width: 26em;
}

.formulario button{
    border-radius: 5px;
}

.formulario input, .formulario select, .formulario textarea{
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 166, 0, 0.178);
}

label{
    font-weight: bold; 
    display: inline-block;
}

input[type="text"], input[type="email"], #mensagem{
    display: block;
    padding-top: 5px;
    margin: 20px;
    box-shadow:  3px 4px 16px 0px #ffffff80;;
}

input[type="radio"]{
    margin-left: 20px;
}

.deixMsg{
    margin-top: 20px;
    display: block;
}

input:focus, #mensagem:focus{
    background: #fff;
} 

.nota{
    font-size: 12px;
}

.form div button{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: #ffa60062;
    margin-left: 85%;
}

.form button:hover{
    background-color: #ffa60093;
}


@media (max-width:600px) {
    .conteudo-principal, .conteudo-secundario, .conteudo-terceiro{
        text-align: center;
    }

    .conteudo-principal-subtitulo{
        margin: 0 50px;
        font-size: 20px;
    }

    .conteudo-principal-btn{
        height: 5vh;
        font-size: 18px;
        padding: 0 5vw;
    }

    .conteudo-secundario{
        background-image: linear-gradient(#5a564970,rgb(0 0 0 / 20%)),url("../img/index/2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center ;
        margin: 0;
        text-align: center;
        background-color: white;
    }

    .conteudo-secundario-escrito-texto, .conteudo-terceiro-escrito-texto{
        background-color: #ffffff9b;
        text-align: start;
        padding: 20px 10px;
        font-size: 16px;
        color: black;
    }

    .conteudo-secundario-img{
        display: none;
    }

    .conteudo-terceiro-escrito{
        width: 100%;
    }

    .conteudo-terceiro-escrito-subtitulo{
        background-color: transparent;
    }
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


